---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Page Not Found">
  <h1 class="text-center my-10 text-2xl font-semibold">Page Not Found</h1>
  <div>
    <a href="/" class="text-center block underline">Go back home</a>
  </div>
</Layout>
