---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to veNFT Unlock Timeline.">
  <main class="mx-auto max-w-[60ch]">
    <h1 class="flex justify-center text-2xl my-10">veNFT Unlock Timeline</h1>
    <ul role="list" class="link-card-grid">
      {
        [
          {
            link: 'veFlow',
            title: 'Velocimeter',
            body: 'Check your veFlow and their unlock timeline.',
          },
          {
            link: 'veEqual',
            title: 'Equalizer',
            body: 'Check your veEqual and their unlock timeline.',
          },
          {
            link: 'veRAM',
            title: 'Ramses',
            body: 'Check your veRAM and their unlock timeline.',
          },
          {
            link: 'veCHR',
            title: 'Chronos',
            body: 'Check your veCHR and their unlock timeline.',
          },
          {
            link: 'veVelo',
            title: 'Velodrome',
            body: 'Check your veVelo and their unlock timeline.',
          },
        ].map((card) => (
          <Card href={card.link} title={card.title} body={card.body} />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
