---
export interface Props {
  title?: string
}

const { title = 'veNFT' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="veNFT unlock timeline" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="oxSaturn" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <footer class="text-center text-gray-500 mt-10 py-5">
      Built by <a href="https://github.com/oxSaturn" class="underline"
        >oxSaturn</a
      >
    </footer>
  </body>
</html>
